.container {
    width: 250px;
    height: 250px;
    margin: 150px 500px;
}

.main-display {
    height: 60px;
    background: black;
    color: white;
    text-align: right;
    font-size: 22pt;
    line-height: 60px;
}

.number-button {
    border: 0.5px solid #AB2929;
    color: black;
    font-size: 22pt;
    text-align: center;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
}

.operator-button {
   border: 0.5px solid #AB2929;
   background: red;
   font-size: 22pt;
   color: white;
   text-align: center;
   height: 60px;
   line-height: 60px;
   cursor: pointer;
}
